@page
@model introduccionRazor_ASPNet.Pages.holaMundoRazorModel
@{
}

<!--ESCRIBIMOS -->
@{
	var mensaje = "Hola mundo desde ASP .NET Core"; //declaramos o tomamos cosas por parte del servidor
}
<p>Este es un mensaje de Bienvenida: @mensaje</p>//es un mensaje simple tomamos el dato de la variable que se creo

//despues lo ejecutamos y en la URL cambiamos la ruta a localhost.../HolaMundoRazor (sin extensiones como .cshtml)
